@charset "utf-8";
/* CSS Document */

#total_body {
position: absolute;
width: 60%;
height: 100%;
left: 20%;
background-image:url('bakgrunn3.png');
background-repeat:repeat;
}

#banner {
position: absolute;
width: 60%;
height: 8%;
left: 20%;
background-color: #6bb3d7;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.58);
-moz-box-shadow: 1px 2px 2px rgba(0,0,0,.58);
box-shadow: 1px 2px 2px rgba(0,0,0,.58);
}

#main_content {
position: absolute;
width: 59%;
height: 100%;
left: 20.5%;
top: 9%;
background-image:url('bakgrunn4.png');
background-repeat:repeat;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#search {
position: absolute;
width: 25%;
height: 5%;
right: 1%;
top: 0%;
background-color: #cccccc;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#search_button {
position: absolute;
width: 90%;
height: 90%;
left: 5%;
top: 18%;
} 

#text_box1 {
position: absolute;
width: 95%;
height: 35%;
left: 2.5%;
top: 10%;
background-color: #ffffff;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#text_box2 {
position: absolute;
width: 30%;
height: 30%;
left: 2.5%;
top: 47.5%;
background-image:url('bakgrunn5.png');
background-repeat:repeat;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#text_box3 {
position: absolute;
width: 30%;
height: 30%;
left: 35%;
top: 47.5%;
background-image:url('bakgrunn5.png');
background-repeat:repeat;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#text_box4 {
position: absolute;
width: 30%;
height: 30%;
left: 67.5%;
top: 47.5%;
background-image:url('bakgrunn5.png');
background-repeat:repeat;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#inner_box1 {
position: absolute;
width: 40%;
height: 85%;
top: 7.5%;
left: 2.5%;
background-image: url(bilde3.png);
background-repeat: no-repeat;
background-position: 58% 50%;
}

#runding1 {
position: absolute;
width: 45%;
height: 30%;
top: 34%;
left: 8%;
font-family: "Myriad Pro";
font-size: 60px;
color: #fff;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#runding2 {
position: absolute;
width: 39%;
height: 22%;
top: 48%;
left: 57%;
font-family: "Myriad Pro";
font-size: 48px;
color: #fff;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#text_box1_full {
position: absolute;
width: 50%;
height: 90%;
right: 2.5%;
top: 5%;
}

#text_box1_overskrift {
position: absolute;
width: 90%;
height: 25%;
right: 5%;
top: 5%;
font-family: "Myriad Pro";
font-size: 48px;
color: #000000;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#text_box1_text {
position: absolute;
width: 100%;
height: 70%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box2_overskrift {
position: absolute;
width: 90%;
height: 25%;
right: 5%;
top: 5%;
font-family: "Myriad Pro";
font-size: 32px;
color: #000000;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#text_box2_text {
position: absolute;
width: 100%;
height: 75%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box3_overskrift {
position: absolute;
width: 90%;
height: 25%;
right: 5%;
top: 5%;
font-family: "Myriad Pro";
font-size: 32px;
color: #000000;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#text_box3_text {
position: absolute;
width: 100%;
height: 75%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box4_overskrift {
position: absolute;
width: 90%;
height: 25%;
right: 5%;
top: 5%;
font-family: "Myriad Pro";
font-size: 32px;
color: #000000;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#text_box4_text {
position: absolute;
width: 100%;
height: 75%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box2_mer {
position: absolute;
width: 30%;
height: 15%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box3_mer {
position: absolute;
width: 30%;
height: 15%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box4_mer {
position: absolute;
width: 30%;
height: 15%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

#text_box_huge {
position: absolute;
width: 95%;
height: 85%;
left: 2.5%;
top: 10%;
background-color: #ffffff;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#text_box_huge_overskrift {
position: absolute;
width: 90%;
height: 10%;
right: 5%;
top: 5%;
font-family: "Myriad Pro";
font-size: 48px;
color: #000000;
text-shadow: 1px 2px 2px rgba(0,0,0,.58);
text-align: center;
}

#text_box_huge_text {
position: absolute;
width: 100%;
height: 85%;
right: 0%;
bottom: 0%;
font-family: "Myriad Pro";
font-size: 14px;
color: #000000;
text-align: center;
}

body {
background-image:url('bakgrunn3.png');
background-repeat:repeat;
}
