@charset "utf-8";
/* CSS Document */

#total_body {
position: absolute;
width: 60%;
height: 100%;
left: 20%;
background-color: #f6f6f6;
}

#banner {
position: absolute;
width: 100%;
height: 8%;
left: 0%;
background-color: #ab6500;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}

#main_content {
position: absolute;
width: 100%;
height: 100%;
left: 0%;
top: 8%;
background-color: f6f6f6;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}

#button1 {
position: absolute;
width: 10%;
height: 100%;
left: 5%;
background-color: #ab6500;
border-left-style: dotted;
border-right-style: dotted;
border-width: 1px;
}

#button2 {
position: absolute;
width: 10%;
height: 100%;
left: 15%;
background-color: #ab6500;
border-right-style: dotted;
border-left-style: dotted;
border-width: 1px;
}

#button3 {
position: absolute;
width: 10%;
height: 100%;
left: 25%;
background-color: #ab6500;
border-right-style: dotted;
border-left-style: dotted;
border-width: 1px;
}

#button4 {
position: absolute;
width: 10%;
height: 100%;
left: 35%;
background-color: #ab6500;
border-right-style: dotted;
border-left-style: dotted;
border-width: 1px;
}

body {
background-color: #d3d3d3;
}
